:root {
    --fontColor: #333;
    --bgColor: #fff;
    --transparentColor: rgba(0,0,0,.1);

    --fontMain: 'Cinzel', serif;
}

body {
    text-align: center;
    color: var(--fontColor);
    background-color: var(--bgColor);
}