.menuButton {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 2;
  background: transparent;
  border: 0;
  padding: .5rem 1rem;
  font-size: 2rem;
  color: #666;
  cursor: pointer;
  line-height: 1;
}
.menuPanel {
  box-sizing: border-box;
  background: rgba(0,0,0,.1);
  position: fixed;
  z-index: 1;
  top: 0;
  right: -4rem;
  overflow-x: hidden;
  text-align: center;
  width: 0;
  transition: .5s;
  white-space: nowrap;
  padding: 5rem 2rem 1rem;
  backdrop-filter: blur(5px);
}
.menuPanelOpen {
  right: 0;
  width: 22rem;
}